@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif !important;
}

::-webkit-scrollbar{
  display: none;
}

.pointer {
  cursor: pointer !important;
}

.active{
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Optionally change font weight for active link */
  background: linear-gradient(to right, #7A45FB, #DE41B5); /* Gradient background */
  -webkit-background-clip: text; /* Clip text to the background area */
  -webkit-text-fill-color: transparent; /* Fill text with the background color */
  transition: all 0.3s ease-in-out;
}

.link {
  text-decoration: none ;
  transition: all 0.2s ease-in-out;
  color: #a4b0be;
  font-size: 18px !important;

}

.link:hover {
  background-color: #30303050;
}

.active:hover {
  background-color: #30303050;
}

.web-text-small{
  font-size: 14px !important;
}

.arrow-button{
  transition: all 0.5s;
}


.arrow-button:active{
  background: #fff;
}

.arrow-button:focus{
  background: #fff;
}

.arrow-button:hover{
  background: linear-gradient(90deg, #DE41B5 0%, #7A45FB 100%);
}

.greeting{
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Optionally change font weight for active link */
  background: linear-gradient(to right, #7A45FB, #DE41B5); /* Gradient background */
  -webkit-background-clip: text; /* Clip text to the background area */
  -webkit-text-fill-color: transparent; /* Fill text with the background color */
  transition: all 0.3s ease-in-out;
}


.rotate{
  
  animation: animName 10s linear infinite;
}

@keyframes animName {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }
 

 
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 10px;
}
.lds-ellipsis div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px !important;
  }

  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px !important;
  }
}
