@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif !important;
}

.pointer {
  cursor: pointer !important;
}

.active{
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Optionally change font weight for active link */
  background: linear-gradient(to right, #5E7FE7, #D86572); /* Gradient background */
  -webkit-background-clip: text; /* Clip text to the background area */
  -webkit-text-fill-color: transparent; /* Fill text with the background color */
  transition: all 0.3s ease-in-out;
}

.link {
  text-decoration: none ;
  transition: all 0.2s ease-in-out;
  color: #a4b0be;
}

.link:hover {
  background-color: #30303050;
}

.active:hover {
  background-color: #30303050;
}

.web-text-small{
  font-size: 14px !important;
}
